body {
	background-color:lightblue;
	color:#fff;
	font-weight:"arial",sans-serif;
	font-size:14px;
	}

#container{
		width:60%;
		background-color:#272822;
		margin:20px auto;
		overflow:auto;
		padding: 25px;
		border-radius:20px;
	
	}
header{
		text-align:center;
		padding-bottom:15px;
		border-bottom:2px dashed #fff;
    }
	
header h1{
		margin:0;
		padding:0;
		
		}
section{
		min-height:400px;
		}

input[type="submit"]{
		background-color:green;
		border:0;
		font-size:15px;
		color:#fff;
		padding:10px 15px;
		cursor:pointer;
		border-radius:5px;
		}

input[type="submit"]:hover{
		background-color:red;
		}

input[type="reset"]{
		background-color:green;
		border:0;
		font-size:15px;
		color:#fff;
		padding:10px 15px;
		cursor:pointer;
		border-radius:5px;
		}

input[type="reset"]:hover{
		background-color:red;
		}

footer{
	
		text-align:center;

	}

#results h3{
		background-color: #f06226;
		padding:10px;
		margin:10px 0;

		}

#results span{
		color:#000;
		font-weight:bold;
		}






