<!DOCTYPE html>
<html lang="'en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
   <h1>WELCOME TO THE TEXT ANALYSER.<br>Enter your text below</h1>
    <form action='\analyze' method='post'>
        <textarea name='ta1' style='margin:0px;  height: 101px; width: 727px;'></textarea>
      <br>
        <input type="checkbox" name="removepunc">Remove punctuations<br>
        <input type="checkbox" name="fullcaps">Capatilize text<br>
        <input type="checkbox" name="newlineremover">Remove new line<br>
         <input type="checkbox" name="spaceremover">Remove space<br>
        <button type="submit">Analyse text</button>

    </form>
</body>
</html>